body {
 font-family: 'Roboto', sans-serif;
 font-weight: bold;
 color: white;
 /* color: black; */
}

a {
  color: white;
  /* color: black; */
  text-decoration: none;
}

.container-fluid {
  padding: 2% 10% 2% 10%;
}

/* WALLET ICON NAV */
.navIcon {
  height: 5vmin;
  pointer-events: none;
  margin-right: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .navIcon {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* BUDGET */
#budget {
  background-color: #363c47;
  /* background-color: #34373b; */
}
#nav {
  background-color: #363c47;
  /* background-color: #34373b;/ */

}

/* TRANSACTIONS */
#transactions {
  background-color: rgb(62, 62, 62);
}

/* goals */
#goals {
  background-color: rgb(62, 62, 62);
}

/* FOOTER- */
#footer {
  color: white;
  margin-left: 40%;
  padding-top: 4%;
  padding-bottom: 4%;
}
.footer-icons {
  margin: 20px 10px 20px 10px;
}
.footer {
  background-color: black;
}

input {
  width: 50%;
  padding: 15px;
  margin: 5px 15px 22px 0;
  border: none;
  background: #f1f1f1;
}
input:focus {
  background-color:  #ddd;
}

.modal {
  color: rgb(86, 85, 85);
}

.download-button {
  margin-top: 150px;
  margin-bottom: 90px;
  margin-right: 15px;
}

.btn-outline-success {
  margin-right: 20px;
}

.budget-container {
  margin-top: 70px;
}

.transaction-container {
  /* margin-top: 70px; */
  margin-bottom: 25%;
}

.EContainer {
  width: 100%;
  max-width: 100%;
  /* max-height: 950px; */
  max-height: 473px;
  overflow-y:scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.EContainer:hover {
  overflow-y:auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.EContainer::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgb(241, 239, 239, 50%);
}
.EContainer::-webkit-scrollbar-thumb {
  background: rgb(212, 211, 211, 50%);
}
.EntryContainer {
  /* display:flex;
  margin-right: 63%;
  width: 100%;
  height: 70px; */
  /* font-size: larger; */
  display:flex;
  margin-right: 63%;
  width: 100%;
  height: auto;
}




/* FEC bits */
.toggled{
  margin-bottom: 3%;
  border:0;
  padding: 1% 2%;
  background-color: rgba(255, 255, 255, 60%);
  font-size: 18px;
  border-top: 2px solid gray;
}
.toggled:hover {
  background-color: rgba(212, 212, 212, 0.6);
  color: black;
}
.transToToggle{
  margin-bottom: 3%;
  padding: 1% 2%;
  border: 0;
  border-top-left-radius: 5px;
  background-color: black;
  color: white;
  box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.3), inset 0 -7px 9px -7px rgba(0,0,0,0.3);
}
.transToToggle:hover {
  background-color: rgb(37, 37, 37);
  color: white;
  box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.3), inset 0 -7px 9px -7px rgba(0,0,0,0.3);
}
.goalsToToggle{
  margin-bottom: 3%;
  padding: 1% 2%;
  border: 0;
  border-top-right-radius: 5px;
  background-color: black;
  color: white;
  box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.3), inset 0 -7px 9px -7px rgba(0,0,0,0.3);
}
.goalsToToggle:hover {
  background-color: rgb(37, 37, 37);
  color: white;
  box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.3), inset 0 -7px 9px -7px rgba(0,0,0,0.3);
}
.contain-trans-goals{
  display: table;
  /* margin: auto; */
  width: 100%;
  /* padding: 2%; */
}
.toggle-btns {
  background-color: rgb(62, 62, 62);
}

#transContainer {
  scroll-behavior: smooth;
}

.goals {
  display: none;
  width: 100%;
  margin-top: -1%;
}


/* search button ----- */
.search-form {
  /* background-color: rgba(237, 237, 237, 0.6); */
  margin-top: 3%;
  width: 100%;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-input {
  all: unset;
  font: 16px system-ui;
  color: rgb(0, 0, 0);
  height: 100%;
  padding: 6px 20px;
  width: 100%;
  background-color: rgb(206, 206, 206);;
}
.search-input::placeholder{
  color: rgb(82, 82, 82);
}
.search-button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 56px;
  margin-bottom: 0px;
  background-color: rgb(206, 206, 206);
}
.search-svg {
  color: #9C9C9C;
  fill: currentColor;
  width: 24px;
  height: 24px;
}


.T-right{
  font-size: 17px;
  margin-top: .25%;
  width: 15%;
}
.user_info {
  margin-top: 0.2%;
  /* margin-left: 0.5%; */
  opacity: 0.5;
  color: #d8d7d7;
  /* font-weight: lighter; */
  font-size: 13px;
}


/* LOGIN CSS ---------- */
.gradient-custom {
  background-image: linear-gradient(to bottom, #4f5f7d, #363c47);
}

/* delete button */
.deleteButton:hover {
  cursor: pointer;
  color: red;
}

/* edit button */
.editButton:hover {
  cursor: pointer;
  color: rgb(130, 176, 255);
}